
#logoPagina{
    width: 100px;
    /*height: 100px;*/
}
.imagenes{
  width: 100%;
  height: 300px;
  border-radius: 90%;
  border: 4px;
  margin-bottom: 26px;
}

.imgs{
  width: 100%;
  max-height:100em !important;
}
#button {
  background-color: rgba(116, 6, 131, 0.911);
  border-color:  rgba(114, 7, 141, 0.89);
  border-radius: 12px;
  color: aliceblue;
  width: 120px;
  text-transform:none;
}
#input{
  border-color:rgb(119, 0, 134);
  
}