#fondoPrincipal{
  height: 500px;
  background-size: cover;
   width: 100%;
}

.enlaces{
  margin-left: auto !important;
}

.imagenes{
  width: 100%;
  height: 300px;
  border-radius: 100%;
  margin-bottom: 26px;
}

.imgs{
  width: 100%;
  max-height:100em !important;
}

#cuadro{
  padding: 0%;
}
.contenidoFinal{
  font-family: italic;
  font-size: 13px;
  text-align: center;
  background: rgba(46, 45, 46, 0.158);
  color: #63023F;
  font-size: 1em;
  text-decoration-line: inherit;

}
.empiezaAqui{
  text-align: center;
  margin-left: 30%;
  font-size: 3em;
}